/*--------------------------------------------------
S E E J A Y   S O C I A L   W A L L
Website by Websolute
--------------------------------------------------*/

.social-wall-grid {
    overflow: hidden;
    
    .grid-item {
        float: left;
        padding: 10px;
        background: #fff;
        width: 20%;
        padding: 10px;

        @media (max-width: 1399px) {
            width: 25%;
        }

        @media (max-width: 1199px) {
            width: 33.333%;
        }

        @media (max-width: 767px) {
            width: 50%;
        }


        @media (max-width: 479px) {
            width: 100%;
        }

        .box {
            border: 1px solid #ccc;
            position: relative;
            z-index: 1;
        }

        figure {
            margin: 0;
            padding: 0;
        }

        .author {
            position: relative;
            z-index: 1;
            min-height: 50px;
            line-height: 1.1;
            padding: 10px 10px 10px 50px;

            a {
                text-decoration: none;
                color: #333;
            }

            .img {
                position:absolute;
                z-index: 1;
                top: 10px;
                left: 10px;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                overflow: hidden;
                background: url(../img/avatar.jpg) no-repeat center / cover;

                img {
                    width: 30px;
                    height: 30px;
                }
            }

            span {
                display: block;
                font-size: 14px;

                &.author-bame {
                    font-weight: bold;
                }

                &.author-username {
                    font-size: 12px;
                    opacity: .7;
                }
            }
        }

        .media {
            a {
                display: block;
                width: 100%;
            }

            figure {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .text {
            padding: 0 10px 10px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-all;
            word-break: break-word;
            hyphens: auto;
            font-size: 14px;
            line-height: 1.3;
        }

        .source {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: #fff;
                font-size: 20px;
            }
        }

        // CUSTOM BOXES
        .box-FB {
            .author-username {
                display: none;
            }

            .source {
                background-color: #3b5999;
            }
        }

        .box-TW {
            .source {
                background-color: #55acee;
            }
        }

        .box-PT {
            .source {
                background-color: #bd081c;
            }
        }

        .box-GP {
            .source {
                background-color: #dd4b39;
            }
        }

        .box-IG {
            .source {
                background-color: #e4405f;
            }
        }
    }
}

.load-more {
    margin: 0 auto;
    text-align: center;
    display: block;

    .btn {
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
    }
}